html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
}

.small-text {
  font-size: small;
}

.medium-text {
  font-size: medium;
}

.large-text {
  font-size: large;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.f-grey {
  color: #aaa;
}

.f-white {
  color: white;
}

.b-black {
  background-color: black;
}

.b-grey {
  background-color: #fefefe;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.padding-20 {
  padding: 20px;
}

.p-right {
  padding-right: 20px;
}

.p-left {
  padding-left: 20px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: #aaa;
}

.navbar {
  display: grid;
  height: 120px;
  grid-template-areas:
    "t-left t-right"
    "m-left m-right"
    "b-row b-row";
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 60% 40%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.bs-bb {
  box-sizing: border-box;
}

.t-left {
  grid-area: t-left;
}

.t-right {
  grid-area: t-right;
  position: relative;
}

.m-left {
  grid-area: m-left;
}

.m-right {
  grid-area: m-right;
  border-left: 1px solid rgb(218, 218, 218);
}

.m-right img {
  height: 100%;
  width: auto;
}

.m-right span {
  color: red;
  font-size: 26px;
  font-weight: 500;
  font-family: "Ropa Sans";
}

.m-right button {
  background-color: #0cc;
  border-radius: 5px;
  border: none;
  color: white;
  font: 14px bolder;
  height: 60%;
  width: 100px;
  font-family: "Maven Pro";
}

.m-right button:hover {
  background-color: #9900cc;
}

.b-row {
  grid-area: b-row;
  background-color: #ffdd33;
}

.b-row a {
  color: black;
}

.loop-icon {
  transform: scale(1.5);
}

.articles-1 {
  display: grid;
  height: 500px;
  grid-template-areas:
    "article-left top-right-article"
    "article-left bottom-right-article";
  grid-template-rows: 50% 50%;
  grid-template-columns: 65% 35%;
  margin: 125px 10px 20px 10px;
  gap: 5px;
}

.left-article {
  grid-area: article-left;
  background-image: url("images/article-left.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.l-gradient {
  position: absolute;
  background: rgb(218, 141, 32);
  background: linear-gradient(
    173deg,
    rgba(218, 141, 32, 0.8) 18%,
    rgba(165, 7, 227, 0.4) 51%,
    rgba(0, 0, 0, 0.8) 76%
  );
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.r-gradient {
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.left-article h5 {
  margin: 10% 0 5px 0;
  font-family: Avalon, sans-serif;
}

.left-article h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 5px 0;
}

.left-article img {
  width: 40%;
  height: 40%;
}

.top-right-article {
  position: relative;
  grid-area: top-right-article;
  background-image: url("images/top-right-article.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30%;
  z-index: 2;
}

.bottom-right-article {
  position: relative;
  grid-area: bottom-right-article;
  background-image: url("./images/bottom-right-article.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.bottom-right-article h5 {
  margin-top: 15%;
}
